._*
.*.swp
.DS_Store
.hg
.git*
.lock-wscript
.npmrc
.svn
.wafpickle-N
*.orig
config.gypi
npm-debug.log
package-lock.json

CVS
node_modules

.env
.env.*
!.env.example
.editorconfig
.eslint*
.prettier*
*.sh
__*
playwright.config.ts
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
